<!--The content below is only a placeholder and can be replaced.-->
<div id='top-level'>
  <h1>
    {{ appName }}
  </h1>
  <div id="direct">{{directMessage}}</div>
  <div id="ticker">{{ticker}}</div> 
  <input [(ngModel)]="targetAppId" placeholder="targetAppId">
  <button (click)="sendIAB()" id="iab">Send To Other Window</button>
  <input [(ngModel)]="incrementBy" placeholder="Increment By" id="incinp">
  <button (click)="increment();" id="increment">Increment</button>
  <div id="last">{{lastIncrementerMessage}}</div>
</div>

